@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<h1>Razor Core 2 Crud Operations</h1>

<h4>You can perform:</h4>

<ul>
    <li>Create</li>
    <li>Edit</li>
    <li>Update</li>
    <li>Delete</li>
</ul>

<p>Visit:</p>
<a href="http://infocodify.com" target="_blank">Infocodify.com</a>